body {
  background: $lightBlue;
}

.modal-body-text {
  font-size: 1.3em;
}

#board {
  width: 390px;
  height: 390px;
  // border: 5px solid $lightOrange;
  // background-color: $darkBlue;
  margin: 20px auto;
  padding: 0;
}

